<form (ngSubmit)="onSubmit()">
  <div>
    <div>Company</div>
    <select
      [(ngModel)]="company"
      [ngModelOptions]="{ standalone: true }"
    >
      <option *ngFor="let company of companies" [ngValue]="company">{{company.company}}</option>
    </select>

    <div>Guest</div>
    <select
      [(ngModel)]="guest"
      [ngModelOptions]="{ standalone: true }"
    >
      <option *ngFor="let guest of guests" [ngValue]="guest">{{ guest.firstName + ' ' + guest.lastName }}</option>
    </select>
  </div>


  <input
    class="message"
    [(ngModel)]="message"
    name="message"
  >

  <div>
    <div *ngFor="let item of items">
      <input
        [(ngModel)]="item.name"
        [ngModelOptions]="{ standalone: true }"
      >

      <input
        [(ngModel)]="item.value"
        [ngModelOptions]="{ standalone: true }"
      >
    </div>

    <button type="button" (click)="addTemplate()">Add Another Placeholder</button>

  </div>

  <button type="submit">Send Message</button>
</form>

<div class="sent-message" *ngIf="text.length">
  <p>message:</p>
  <div class="message-text">
    {{ text }}
  </div>
</div>


<div class="sent-message" *ngIf="errors.length">
  <p>Invalid placeholders:</p>
  <div class="error-text">
    <div
      *ngFor="let error of errors"
    >
      <div>{{ error }}</div>
    </div>
  </div>

</div>
